<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the game!</title>
</head>
<body>
  <h1>Welcome to the game!<h1>
  <form action="/madlib">
    Pick a color:
   <select name="color"> 
       <option value="Red">Red</option>
        <option value="Yellow"> Yellow </option>
        <option value="Blue"> Blue </option>
   </select> <br>

   Pick a noun:
   <select name="noun">
        <option value="cat"> <label> Cat </option>
        <option value="sock"> <label> Sock </option>
        <option value="ship"> <label> Ship </option>
   </select> <br>

   Pick an adjective:
   <select name="adj">
        <option value="happy"> Happy </option>
        <option value="annoyed"> Annoyed </option>
        <option value="angry"> Angry </option>
   </select> <br>
   <input type="submit" value="Submit">
  </form>
</body>
</html>